# To enable the use of libvdpau-va-gl as the default VDPAU driver,
# uncommont the following lines. See
# `/usr/share/doc/libvdpau-va-gl1/README.Debian` for more details.

{% if xorg_gpu_vdpau_va_gl_enable %}
[ ! -f /usr/lib/$(arch)-$(uname -s | tr '[A-Z]' '[a-z]')-gnu/vdpau/libvdpau_va_gl.so.1 ] || \
   export VDPAU_DRIVER=va_gl
{% else %}
# [ ! -f /usr/lib/$(arch)-$(uname -s | tr '[A-Z]' '[a-z]')-gnu/vdpau/libvdpau_va_gl.so.1 ] || \
#   export VDPAU_DRIVER=va_gl
{% endif %}
